.h1-favorites{
    font-family: var(--fonte-destaque);
    color: var(--cor-cinza-escuro);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5rem;
}

.favorites{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
}

.box{
    margin-top: 2rem;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 5px;
    padding: 1.2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.178);
}

.box img{
    width: 320px;
    height: 300px;
    border-radius: 5px;
}

.box h2{
    margin-top: 1rem;
    font-family: var(--fonte-destaque);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.116);
    font-size: 1.6rem;
}

.box p{
    font-family: var(--fonte-padrao);
    text-indent: 1rem;
    margin: 1rem 0;
    font-size: 1.2rem;
}

.box button{
    background-color: var(--cor-preto);
    color: white;
    width: 300px;
    padding: 5px 0;
    font-size: 1.2rem;
    margin: 0 1rem;
    border-radius: 5px;
}

i{
    color: var(--cor-branco);
    background-color: black;
    margin-left: 10px;
}