.start{
    display: block;
    max-width: 1500px;
    height: auto;
    margin: 3rem auto;
    position: relative;
}

.start h1{
    text-align: center;
    font-family: var(--fonte-destaque);
    font-size: 2.4rem;
    color: var(--cor-cinza-escuro);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.274);
}

.box-start{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin-top: 2.5rem;
    height: 600px;
    position: absolute;
}

.text-start{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-start p{
    color: var(--cor-preto);
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: justify;
    margin-bottom: 2rem;
    margin-left: 3.5rem;
}

.box-start button{
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    width: 400px;
    height: 2.5rem;
    font-family: var(--fonte-destaque);
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    cursor: pointer;
}

.img-start{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-start img{
    width: 500px;
    border-radius: 5px;
}


@media only screen and (max-width: 1100px){
    .start h1{
        font-size: 2rem;
    }
    .box-start .text-start p{
        font-size: 1.2rem;
    }
    .text-start button{
        width: 300px;
        height: 2rem;
        font-size: 1rem;
    }
    .img-start img{
        width: 400px;
    }
}

@media only screen and (max-width: 830px){
    .start h1{
        font-size: 1.5rem;
    }
    .box-start{
        display: flex;
        flex-direction: column-reverse;
    }
    .box-start .text-start p{
        font-size: 1.2rem;
        text-align: justify;
        white-space: nowrap; /*Retira espaços em branco*/
    }
}